.aw-urating .voting {
    position: relative;
    padding: 0 20px;
}

.aw-urating .voting .bup,
.aw-urating .voting .bdown {
    position: absolute;
    width: 9px;
    height: 14px;
}

.aw-urating .voting .bup,
.aw-urating .voting .bdown {
    top: 1px;
    background: url(/modules/urating/images/icons.png?v=1) no-repeat;
}

.aw-urating .voting .bup {
    left: 0;
}

.aw-urating .voting .bdown {
    right: 0;
}

.aw-urating .voting .w .bup,
.aw-urating .voting .w .bdown {
    cursor: pointer;
}

.aw-urating .voting .w .bup,
.aw-urating .voting .ro .bup {
    background-position: 0px 0px;
}

.aw-urating .voting .w .bdown,
.aw-urating .voting .ro .bdown {
    background-position: -10px 0px;
}

.aw-urating .voting .w .bup:HOVER {
    background-position: -40px 0px;
}

.aw-urating .voting .w .bdown:HOVER {
    background-position: -70px 0px;
}

.aw-urating .voting .ro .bup {
    background-position: -80px 0px;
}

.aw-urating .voting .ro .bdown {
    background-position: -90px 0px;
}

.aw-urating .voting .up .bup {
    background-position: -40px 0px;
}

.aw-urating .voting .down .bdown {
    background-position: -70px 0px;
}

.aw-urating .voting .bval {
    line-height: 14px;
} 